<!-- Sub header -->
<section class="space sub-header">
    <div class="container container-custom">
        <div class="row">
            <div class="col-md-6">
                <div class="sub-header_content">
                    <p>{{ .Params.span_text }}</p>
                    <h3>{{ .Params.heading }}</h3>
                    <span><i>Home / {{ .Params.title }}</i></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="sub-header_main">
                    <h2>{{ .Params.title }}</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//End Sub header -->
