<!-- Sub header -->
<section class="space sub-header">
    <div class="container container-custom">
        <div class="row">
            <div class="col-md-6">
                <div class="sub-header_content">
                    <p>{{ .Params.subheader_content }}</p>
                    <h3>{{ .Params.subheader_title | safeHTML }}</h3>
                    <span><i>{{ .Params.subheader_breadcrumb }}</i></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="sub-header_main">
                    <h2>{{ .Params.subheader_main_title }}</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//End Sub header -->
