<!--==================== Our Mission ====================-->
<section class="space">
    <div class="container container-custom">
        <div class="row">
            <div class="col-md-4">
                <div class="mission-wrap">
                    <h3>{{ .Params.mission_title }}</h3>
                    <p>{{ .Params.mission_description }}</p>
                    <a href="{{ .Params.mission_link }}">Read More</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mission-wrap">
                    <h3>{{ .Params.vision_title }}</h3>
                    <p>{{ .Params.vision_description }}</p>
                    <a href="{{ .Params.vision_link }}">Read More</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mission-wrap">
                    <h3>{{ .Params.values_title }}</h3>
                    <p>{{ .Params.values_description }}</p>
                    <a href="{{ .Params.values_link }}">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//End Our Mission -->
